body{

  background-color: aliceblue;

}
.wrapper{
  width: 300px;
  text-align: center;

}

.changetitleBtn{
  width: 200px;
  outline: none;
  border-color: black ;
  border-radius: 3px;
  padding: 5px;
  background-color: rgb(233, 244, 246);
  cursor: pointer;

}